%h4
  Trainings
  %small
    (#{@trainings.count})

    - if can? :create, Training
      = link_to new_training_path do
        %i.fa.fa-plus
        Add a Training

- if @trainings.count > 0
  - @trainings.each do |training|
    %div
      %span{ class: "badge badge-#{training.training_type_format}" }
        = training.name
- else
  %p.text-muted
    No trainings available.

