- unless @signup.errors.empty?
  .alert.alert-danger
    %strong
      #{pluralize(@training.errors.size, 'error')} occurred

    %ul
      - @signup.errors.full_messages.each do |error|
        %li
          = error

= form_for @signup do |f|
  .form-group
    = f.label :user
  
