
-# .row
-#   .col.d-flex.justify-content-center
-#     .jumbotron{:style => "padding-top: 32px; padding-bottom: 32px"}
-#       .d-flex.justify-content-center
-#         %h4.mb-2{:style => "padding-bottom: 12px"}
-#           All Coaches
-#           %small
-#             (#{@users.count} total)
-#
-#
-#       = render 'cards'
.jumbotron{:style => "padding-top: 32px; padding-bottom: 32px"}
  %ul#myTab.nav.nav-tabs.justify-content-center{:role => "tablist"}
    %li.nav-item
      %a#home-tab.nav-link{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} Coach Cards
    - if can? :dropsignup, Signup

      %li.nav-item
        %a#metrics-tab.nav-link.active{"aria-controls" => "metrics", "aria-selected" => "false", "data-toggle" => "tab", :href => "#metrics", :role => "tab"} List Metrics
    -# %li.nav-item
    -#   %a#contact-tab.nav-link{"aria-controls" => "contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#contact", :role => "tab"} Contact


  #myTabContent.tab-content
    #home.tab-pane.fade{"aria-labelledby" => "all-coaches-tab", :role => "tabpanel"}
      .d-flex
        %h2.mb-2.mt-4{:style => "padding-bottom: 12px"}
          Coach Cards
          %small
            (#{@users.count} total)


      = render 'cards'


    #metrics.tab-pane.fade.show.active{"aria-labelledby" => "coach-metrics-tab", :role => "tabpanel"}
      = render "coachmetrics"
    -# #contact.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"} ...
