.row
  .col-lg-6.offset-lg-3.col-md-12
    .card
      .card-block
        %h3.card-title
          %i.fa.fa-pencil
          Edit Profile
          %small
            = link_to user_path(@user) do
              %i.fa.fa-chevron-left
              Back to Profile

        = render 'form'
