<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/fh-3.1.4/r-2.2.2/sl-1.2.6/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/fh-3.1.4/r-2.2.2/sl-1.2.6/datatables.min.js"></script>

%h2
  Users
  %title
= content_tag(:table, role: :datatable, data: { url: users_path(format: :json)},:class => 'table table-striped table-hover table-bordered table-responsive') do
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th User Type
      %th
  %tbody
