
%h2
  Users
  %title
= content_tag :table, role: :datatable, data: { url: users_path(format: :json)} do
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th User Type
      %th
  %tbody
