%h1 Users
= content_tag :table, role: :datatable, data: { url: users_path(format: :json)} do
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th
  %tbody
%br/
= link_to 'New User', new_user_path
