.jumbotron
  %h1.display-6
    Welcome to The Alley

  %p.lead
    This is our coach management app. You can check in/out of the space,
    connect with other coaches and schedule your hours.

  %hr.my-2

  %p
    If you need an account, please contact
    = mail_to 'makerspace@mtu.edu'
