/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require datatables/dataTables.bootstrap
 *= require_tree .
 *= require_self
 *
 */

$brand-primary: #76bf43;

@import "bootstrap";
@import "font-awesome";

html,
body {
  height: 100%;
  background-image: linear-gradient(285deg, rgba(62, 168, 245, 0.8), rgba(118, 191, 67, 0.9)), image-url('home-hero.jpg');
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
}

small {
  &.block {
    margin-top: 4px;
    display: block;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.container--main {
  padding-top: 70px;
  width: 100%;

}

.alert ul {
  margin-bottom: 0;
}

.no-margin  {
  margin: 0;
}

.navbar-custom {
  //background-color: $brand-primary;
  background-image: linear-gradient(285deg, rgba(62, 168, 245, 0.8), rgba(118, 191, 67, 0.9));
  border-bottom: 3px solid rgb(236, 238, 239);
  border-top: 3px solid rgb(236, 238, 239);
  .navbar-nav .nav-link {
    color: #fff;
  }
}

.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 2px 2px 20px #ccc;
}

.logo {
  display: block;
  height: 40px;
  width: auto;
}
.coach-card{
  background-color: #ebcccc;
}
.coach-card.completed-agreement {
  background-color: #d4edda;
}

.card {
  box-shadow: 2px 2px 20px #ccc;
}

.admin-delete {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #721c24;
}
.toggle-display-btn {
  color: $brand-primary;
  border-color: $brand-primary;
}

.admin-delete-nice {
  color: white;
  border-width: 0px
}

table.table-bordered{
  border:1px solid lightgrey;
  margin-top:20px;
  }

table.table-bordered > thead > tr > th{
  border:1px solid lightgrey;
}

table.table-bordered > tbody > tr > td{
  border:1px solid lightgrey;
  padding: 6px;
}

td.signups {
  padding: 0px;
}

.shifts {
  background-color: #f8d7da;
}

.shifts.confirmed {
  background-color: #d4edda;
}

.signup-header {
  //min-width: 130px;
  background-color: #76bf43;
  color: white
}

.signup-coach-add {
  color: black;
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.training-bubble {
  font-size:17px;
}
