@import 'colors';

.user-list__user {
  display: flex;

  &-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &-avatar {
    width: 64px;
    height: 64px;
    background: #eee;
    text-align: center;
    line-height: 64px;

    .fa {
      font-size: 32px;
      color: #ccc;
    }
  }

  &-details h5 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
}

.user-list__check-button {
  display: inline-block;
  vertical-align: middle;
}
