.jumbotron
  .row.justify-content-center
    .card
      .card-block.d-flex.justify-content-center
        %h5.card-title.mb-0
          %i.fa.fa-check-square-o
          Check In and Out Punches
      .card-block
        %ul.list-group.list-group-flush
          - Punch.all.reverse.each do |punch|
            %li.list-group-item.justify-content-between
              - user_id = punch.user_id

              %h7.mb-0.mr-5
                = User.where(id: user_id).first.email
              %h6.mb-0
                = punch.created_at.strftime("%r on %B %-d, %Y")
                %small
                  - if punch.in?
                    %i.fa.fa-sign-in
                    In
                  - else
                    %i.fa.fa-sign-out
                    Out
