.row
  - if @active_events.count >= 1
    =# puts @active_events
    = render 'event_checkin'

  - else

.row
  = render 'normal-checkin'
  - if User.checked_in_users_count > 0
    = render 'checked_in_now'
  - else
